<!DOCTYPE html>
<html lang="en">
    <!-- filtering -->
     <input type="text" placeholder="search" [(ngModel)]="term" (keyup)="filter()">

     <!-- sorting -->
     <select [(ngModel)]="coloum">
        <option>Name</option>
        <option>Phone</option>
        <option>DOB</option>
        <option>City</option>
        <option>Email</option>
        <option>Profile Picture</option>
     </select>
     <select [(ngModel)]="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
     </select>

     <button (click)="sort()" class="btn btn-warning" onclick="">Sort</button>





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body>
    <div class="card" *ngFor="let identity of identitys">
        <div class="card-header" >
            {{identity.school_name}}</div>
        <div class="middle">
            <!-- card slot section  -->
            <div class="left">
                <label>Name: {{identity.name}}</label>
                <label>Phone: {{identity.phone}}</label>
                <label>DOB: {{identity.dob}}</label>
                <label>City: {{identity.city}}</label>
                <label>Email:  {{identity.email}}</label>

            </div>
            <div class="right">
                <img src="{{identity.profile_picture}}" alt="" width="100px">

            </div>
           
        </div>      
        <div class="card-footer">
            <button class="danger-btn">Delete</button>
        </div>
    </div>
</body>
</html>
