<div class="parent">
    <div class="child">
        <!-- <img src="https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="100%" height="100%"> -->
    </div>
    <div class="form1">
        <form action="">
            <h1>ACCOUNT LOGIN</h1>
            
            <input id="text" type="UserName" placeholder="User Name" autofocus>
            <input id="Password" type="Password" placeholder="Password" autofocus>
            <button routerLink="/dashboard">login</button>
            <label href="">Forgot</label>
            <a href="">Username/Password</a>
        </form>
    </div>
    </div>







