<!-- <p>rating works!</p> -->



<img src="/assets/star5.jpg" alt="" width="100px" height="20px" *ngIf="rating<=5 && rating>=4" >
<br>
<img src="/assets/star4.jpg" alt="" width="100px" height="20px" *ngIf="rating<=4 && rating>=3"  >
<br>
<img src="/assets/star3.jpg" alt="" width="100px" height="20px" *ngIf="rating<3 && rating>=2"  >
<br>
<img src="/assets/star2.jpg" alt="" width="100px" height="20px"  *ngIf="rating<=2 && rating>=1" >
<br>
<img src="/assets/star1.jpg" alt="" width="100px" height="20px" *ngIf="rating<=1 && rating>=0"  >
