<div class="parent">
    <div class="left">
        <h2>MY Website</h2>
        <hr>
        <h3 routerLink="home" class="home1">Home</h3>
        <h3 routerLink="welcome" class="welcome1">Welcome</h3>
        <h3 routerLink="databinding" class="databinding1">Data Binding </h3>
        <h3 routerLink="calculator" class="calculator1">Calculator</h3>
        <h3 routerLink="rectangle" class="rectangle1">Rectangle</h3>
        <h3 routerLink="circle" class="circle1">Circle</h3>
        <h3 routerLink="bmi" class="bmi1">BMI</h3>
        <h3 routerLink="directives" class="directives1">Directives</h3>
        <h3 routerLink="eventregistration" class="event1">Event Registration</h3>
        <h3 routerLink="employee" class="employee1">Employee registration</h3>
        <h3 routerLink="employe" class="employee2">Employee</h3>
        <h3 routerLink="flipkart" class="flipkart">Flipkart</h3>
        <h3 routerLink="abc" class="vehicle">vehicle</h3>
        <h3 routerLink="account" class="account">Account</h3>
        <h3 routerLink="amazon" class="amazon">Amazon</h3>
        <h3 routerLink="mail" class="mail">Mail</h3>
        <h3 routerLink="photos" class="photos">Photos</h3>
        <h3 routerLink="weather" class="weather">Weather</h3>
        <h3 routerLink="blog" class="blog">Blog</h3>
        <h3 routerLink="imdb" class="imdb">IMDB</h3>
        <h3 routerLink="create-vehicle" class="create-vehicle">Create-Vehicle</h3>
        <h3 routerLink="create-account" class="create-account">Create-account</h3>
        <h3 routerLink="identity_card" class="identity-card">Identity-card</h3>
        <h3 routerLink="create-identitycard" class="create-identitycard">Create Identity Card</h3>
        <h3 routerLink="angular" class="angular">Angular</h3>
        <h3 routerLink="Create-user" class="create-user">Create User Form</h3>
        <h3  routerLink="student-form" class="student-form">Student Form</h3>

        <hr>
        <button (click)="logout()" >Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    

</div>
