*{
    box-sizing: border-box;
    
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y:scroll;
    

}
.right{
    width: 80%;
    height: 100%;
    background-color:teal;
    overflow-y: scroll;
    /* display: flex; */
}
.home1{
    cursor: pointer;
    
}
.home1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: 0.7s ease-out;
    

    
}
.welcome1{
    cursor: pointer;
}

.welcome1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.7s ease-out;
}
.databinding1{
    cursor: pointer;
}
.databinding1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.7s ease-out;

}
.calculator1{
    cursor: pointer;
}
.calculator1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.7s ease-out;

}

.rectangle1{
    cursor: pointer;
}

.rectangle1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.7s ease-out;

}

.circle1{
    cursor: pointer;
}
.circle1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.7s ease-out;

}


.bmi1{
    cursor: pointer;
}

.bmi1:hover{
    color: red;
    /* transform: scale(1.2); */
    transition: transform 0.5s ;

}

.logout{
    cursor: pointer;
    background-color: red;
    color:white;
    width: 200px;
    height: 50px;
    
    

    
}