/* .card-body{
    background-color:white;
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* 
.card{
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}
.card-body{
    
    justify-content: center;
    align-items: center;
    

} */
